{% extends 'main.html' %} {% block content %}
<div class="container border mt-5 text-center shadow-lg">
  <div class="row m-5">
    <div class="col-5">
      <h3>Are you a Doctor?</h3>

      <div class="d-flex justify-content-center flex-column p-2 mb-3">
        <p>Already have an account?</p>
        <a href='{% url "login" "DOC" %}' class="btn btn-primary">Login</a>
      </div>
      <div class="d-flex justify-content-center flex-column p-2">
        <p>Need an account?</p>
        <a href='{% url "register" "DOC" %}' class="btn btn-primary"
          >Register</a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="vr h-100"></div>
    </div>
    <div class="col-5">
      <h3>Are you a Patient?</h3>
      <div class="d-flex justify-content-center flex-column p-2 mb-3">
        <p>Already have an account?</p>
        <a href='{% url "login" "PAT" %}' class="btn btn-primary">Login</a>
      </div>
      <div class="d-flex justify-content-center flex-column p-2">
        <p>Need an account?</p>
        <a href='{% url "register" "PAT" %}' class="btn btn-primary"
          >Register</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
