{% extends 'main.html' %} {% block content %}
<h2>{{pk}}</h2>
<div class="container">
  <form action="{%url 'login' pk %}" method="post" validate>
    {% include 'messages.html' %} {% csrf_token %}
    <div class="form-control">
      <input id="username" type="text" name="username" required />
      <label for="username">Username: </label>
    </div>

    <div class="form-control">
      <input id="password" type="password" name="password" required />
      <label for="password">Password: </label>
    </div>
    <div class="auth__actions">
      <input class="btn" type="submit" value="Log In" />
      <hr />
      <a class="btn" href="{% url 'register' pk %}">Register</a>
      <hr />
      <a class="btn" href="{% url 'home' %}">Home</a>
    </div>
  </form>
</div>
{% endblock content %}
