{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.tags == 'warning' %}
        <table style="width: 100%;">
            <tr>
                <th>Subject Code</th>
                <th>Subject Name</th>
                <!-- <th>Teacher Name</th> -->
                <th>Link</th>
            </tr>
            <tr>
                <td>
                    {{subject_code}}
                </td>
                <td>
                    {{subject_name}}
                </td>
                <td>
                    <a href="{{link}}">
                        {{link}}
                    </a>
                </td>
            </tr>
        </table>
        {% else %}
        {{ message }}
        {% endif %}
    </li>
    {% endfor %}  
</ul>
{% endif %}