<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a
      href="{% if user.is_authenticated %} {% url 'dashboard' %} {% else %} {% url 'home' %} {%endif%}"
      class="navbar-brand"
      >TASK</a
    >
      
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'dashboard'%}">PROFILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'blog'%}">BLOG</a>
        </li>

          {% if pk == 'DOC' %}
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'create-blog'%}">CREATE BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'view-blog'%}">DRAFT</a>
          </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}" href="{%url 'home'%}">HOME</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
