<!-- {% if user.is_authenticated%}

<h2>
  <a href="{% url 'logout' %}">logout</a>
</h2>

{% else %}

<h2>Welcome</h2>

{% endif %} -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">
      {% if user.is_authenticated%}

      <a class="navbar-brand" href="{% url 'logout' %}">logout</a>

      {% else %} Welcome {% endif %}
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<br />
<br />
<br />
