{% extends 'main.html' %} {% block content %} {% for use in user %}
<div class="row">
  {% if use.owner == username %}
  <div class="col-lg-8 mb-4">
    <img
      class="rounded mx-auto d-block"
      src="{{hospital_user.profile_image.url}}"
      height="300"
      width="500"
    />
  </div>
  <div class="col-lg-4 mb-4">
    <h3>Details</h3>
    <hr />
    <p>Title > <b>{{use.title}}</b></p>
    <p>Category > <b>{{use.category}}</b></p>
    <p>Summary > <b>{{use.summary}}</b></p>
    <p>Content > <b>{{use.content}}</b></p>
    <a class="btn btn-primary" href="{% url 'update-blog' use.id %}">update</a>
    <a class="btn btn-primary" href="{% url 'delete-blog' use.id %}">Delete</a>
  </div>
  <hr />
</div>
{% endif %} {%endfor %} {% endblock content %}
